@page "/web-crypto"

@using JSInterop.Browser.WebApis.Testing.App.Units.WebCrypto

<PageTitle>Web Crypto</PageTitle>

<div id="main">

    <UWebCrypto />
    <UWebCryptoSubtleDigest />
    <UWebCryptoSubtleGenerateKeys />

</div>
